*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Poppins;

}

body{

background:#faf8f2;
color:#222;

overflow-x:hidden;

}

section{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

padding:70px;

text-align:center;

}

.hero{

background:linear-gradient(180deg,#fff,#f6f1dd);

}

.hero h1{

font-size:65px;

}

.hero h2{

margin-top:10px;

font-size:40px;

color:#d19b00;

}

.hero button{

margin-top:40px;

padding:15px 40px;

border:none;

border-radius:40px;

cursor:pointer;

font-size:18px;

}

.chapter h1{

margin-bottom:30px;

font-size:42px;

}

.chapter p{

max-width:700px;

line-height:2;

}

.chapter img{

margin-top:30px;

width:300px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.gallery{

display:grid;

grid-template-columns:repeat(2,250px);

gap:20px;

}

.gallery img{

width:250px;

height:320px;

object-fit:cover;

}

.cards{

display:flex;

gap:20px;

flex-wrap:wrap;

justify-content:center;

}

.card{

width:250px;

padding:30px;

background:white;

border-radius:20px;

box-shadow:0 15px 30px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.ending{

background:black;

color:white;

}

#musicBtn{

position:fixed;

bottom:30px;

right:30px;

width:60px;

height:60px;

border-radius:50%;

font-size:25px;

cursor:pointer;

}
